.text {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    color:  #0066ff;
    text-align: center;
    }