.App {
    /* height: 100vh; */
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    color: #4d5154;
    background-image: linear-gradient(to bottom, #0066ff 0%, #d6cd25 100%);
    
  }

  .Home {
    text-decoration: none;
    color: red;
  }