.item {
    display: flex;
    align-items: center;
    
  }
  .item:not(:last-child) {
    margin-bottom: 10px;
  }
  .input {
    display: block;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 15px;
   
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    margin-top: 15px;
    background-image: linear-gradient(to bottom, #3b64a0 0%, #e0dc53 100%);
  }
  
  .text {
    display: flex;
    padding: 10px;
   
    margin-bottom: 15px;
   color: #0066ff;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    margin-top: 15px;
    background-image: linear-gradient(to bottom, #3b64a0 0%, #e0dc53 100%);
    margin-left: auto;
    margin-right: auto;

    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
  }
  .button {
    padding: 5px;
    border-radius: 5px;
  }