.userMenu{
    display: flex;
}
.text {
    display: flex;
    flex-direction: column;
    color: rgb(232, 232, 88);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    text-align: center;
}

.button {
    margin-top: 30px;
    background: #0066ff;
    border-bottom: 4px solid #0066ff;
    color:  rgb(232, 232, 88);
    font-size: 14px;
    display: block;
    width: 30%;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-inline: auto;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.icon {
    margin-left: auto;
    margin-right: auto;
}